$navbar-default-bg: #300e0e;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #defcf1;
}

#logo {
  float: left;
  font-size: 1.7em;  
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #08d62a;
  text-decoration: none;
}

.center {
  text-align: center;
  color: #0de84b;
}

.jumbotron {
  background-image: asset-url('banner_image.jpeg');
  background-size: cover;
}

.thumbnail img {
  width: 100%;
  max-height: 200px;
}

.panel-body {
  background-color: #f2f9f9;
}

.panel-footer {
  text-transform: uppercase;
  text-align: center;
}

.well a {
  color: #13d63d;
  text-decoration: none;
}

.btn-xl, .success-xl {
  background-color: #85f7ba;;
}

.back-link {
  margin-bottom: 10px;
}

.back-link a{
  color: #13d63d;
}