<div class="footer">
  <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <h3>Services</h3>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>About</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Quisque ac turpis cursus, iaculis nunc eget, mollis massa. 
          Nunc imperdiet purus at nunc maximus dictum. Praesent tempus
          purus massa, et molestie quam imperdiet ut. Aenean cursus 
          diam at mollis egestas. Sed ut nisl et elit pretium ultrices. 
          Integer urna nisl
        </p>
      </div>
      <div class="col-md-4">
        <h3>Sign Up</h3>
         <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
    </div>
  </div>
  <div class="panel-footer">MyRecipes &copy; <%= Time.current.year %></div>
  </div>
</div>
</div>